body {
  margin: 0;
}

body::-webkit-scrollbar {
    display: none; 
}

main {
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #c6e2ff;
}

.arrowdown {
  position: absolute;
  top: 90%;
  left: 48%;
  animation: down 1550ms ease-in-out infinite;
}

.arrowdown a {
  color: #ffca28;
}
/* arrrow down key animations */

@keyframes down {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.gradientbox {
  height: 300px;
  width: 600px;
  background-image: linear-gradient(90deg, #f50057 0%,#242323 35%, #00b0ff 60%, #76ff03  100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 10px;
}

.subheading {
  background-color: black;
  z-index: 5;
  font-size: 22px;
  font-family: 'Assistant', sans-serif;
  margin-top: -17px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.logo {
  background-color: black;
  background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
  height: 290px;
  width: 590px;
  font-family: 'Monoton', cursive;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  animation: neon 900ms ease-in-out infinite alternate;
  animation-delay: 100ms;
  font-size: 140px;
  pointer-events: none;
}

/*animation keyframes*/

@keyframes neon {
  0% {
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
  }
  12% {
    text-shadow: 0 0 20px rgba(10, 175, 230, 1.5),  0 0 20px rgba(10, 175, 230, 1);
  }
  18% {
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0.2);
  }
  25% {
    text-shadow: 0 0 20px rgba(10, 175, 230, 0.9),  0 0 20px rgba(10, 175, 230, 0.3);
  }
  35% {
    text-shadow: 0 0 20px rgba(10, 175, 230, 0.8),  0 0 20px rgba(10, 175, 230, 0.1);
  }
  42% {
    text-shadow: 0 0 20px rgba(10, 175, 230, 1.2),  0 0 20px rgba(10, 175, 230, 0);
  }
  50% {
    text-shadow: 0 0 20px rgba(10, 175, 230, 1.6),  0 0 20px rgba(10, 175, 230, 1);
  }
  100% {
    text-shadow: 0 0 20px rgba(10, 175, 230, 1.6),  0 0 20px rgba(10, 175, 230, 1);
  }
}

/* about us page*/

.about {
  min-height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: white;
  padding-left: 100px;
  padding-right: 100px;
}

.aboutus {
  min-height: 100vh;
  min-width: 50vw;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: column;
  padding: 15px;
  margin-left: 200px;
  font-family: 'Assistant','Lato',sans-serif;
}

.aboutheading {
  font-size: 50px;
  border-bottom :1px solid white;
  padding-bottom: 7px;
}

.aboutText {
  font-size: 18px;
  font-weight: 800;
}
/* beer glass css*/
.beerglass {
  min-height: 50vh;
  min-width: 50vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  margin-left: 0;
  margin-top: 120px;
  margin-right: 210px;
  cursor: not-allowed;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.container .borderbox {
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.container .borderbox:hover {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.container .borderbox:hover .inner {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.container .borderbox:before {
  content: "";
  position: absolute;
  top: 25px;
  right: -50px;
  width: 50px;
  height: 110px;
  border: 20px solid #e0e0e0;
  border-radius: 25px;
}
.container .borderbox .glass {
  position: relative;
  width: 180px;
  height: 245px;
  background-color: #969696;
  border-radius: 5px;
  border: 10px solid  #e0e0e0;
  border-top: none;
  overflow: hidden;
}
.container .borderbox .glass:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 130px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 99;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  box-shadow: 50px 0 0 0 rgba(0, 0, 0, 0.2), -50px 0 0 0 rgba(0, 0, 0, 0.2);
}
.container .borderbox .glass .inner {
  position: absolute;
  width: 200%;
  height: 240px;
  border-top: 50px solid white;
  background: -webkit-linear-gradient(top, #bc7012 0%, #efd002 100%);
  background: linear-gradient(to bottom, #bc7012 0%, #efd002 100%);
  background-color: #f7a900;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.bubble:nth-child(0) {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 10px;
  height: 10px;
  top: 92px;
  left: 62px;
  animation: bubbles 1050ms ease-in-out 150ms infinite;
}

.bubble:nth-child(1) {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 10px;
  height: 10px;
  top: 119px;
  left: 174px;
  animation: bubbles 750ms ease-in-out 151ms infinite;
}

.bubble:nth-child(2) {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 10px;
  height: 10px;
  top: 196px;
  left: 44px;
  animation: bubbles 950ms ease-in-out 152ms infinite;
}

.bubble:nth-child(3) {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 10px;
  height: 10px;
  top: 270px;
  left: 55px;
  animation: bubbles 1950ms ease-in-out 153ms infinite;
}

.bubble:nth-child(4) {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 10px;
  height: 10px;
  top: 219px;
  left: 80px;
  animation: bubbles 2950ms ease-in-out 154ms infinite;
}

.bubble:nth-child(5) {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 10px;
  height: 10px;
  top: 221px;
  left: 87px;
  animation: bubbles 3950ms ease-in-out 155ms infinite;
}

.bubble:nth-child(6) {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 10px;
  height: 10px;
  top: 31px;
  left: 111px;
  animation: bubbles 4950ms ease-in-out 156ms infinite;
}

.bubble:nth-child(7) {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 10px;
  height: 10px;
  top: 188px;
  left: 27px;
  animation: bubbles 5950ms ease-in-out 157ms infinite;
}

.bubble:nth-child(8) {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 10px;
  height: 10px;
  top: 22px;
  left: 71px;
  animation: bubbles 6950ms ease-in-out 158ms infinite;
}

.bubble:nth-child(9) {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 10px;
  height: 10px;
  top: 208px;
  left: 102px;
  animation: bubbles 7950ms ease-in-out 159ms infinite;
}

.bubble:nth-child(10) {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 10px;
  height: 10px;
  top: 185px;
  left: 124px;
  animation: bubbles 8950ms ease-in-out 160ms infinite;
}

.bubble:nth-child(11) {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 10px;
  height: 10px;
  top: 220px;
  left: 54px;
  animation: bubbles 9950ms ease-in-out 161ms infinite;
}

.bubble:nth-child(12) {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  width: 10px;
  height: 10px;
  top: 163px;
  left: 72px;
  animation: bubbles 10950ms ease-in-out 162ms infinite;
}

@keyframes bubbles {
  100% {
    top: -10px;
  }
}



/* media queries */

@media only screen and (min-width: 1000px) {
  .aboutheading {
  margin-left: 250px;
  margin-bottom: 30px;
  }
}

@media only screen and (max-width:1000px) {
  .beerglass {
    display: none;
  }
  .aboutus  {
    margin: 0;
  }
}

@media only screen and (max-width:620px) {
  .logo {
    font-size: 120px;
    width: 490px;
  }
  .subheading {
    font-size: 22px;
  }
  .gradientbox {
    width: 500px;
  }
}

@media only screen and (max-width: 520px){
  .logo {
    font-size: 100px;
    width: 390px;
    height: 210px;
  }
  .subheading {
    font-size: 20px;
  }
  .gradientbox {
    width: 400px;
    height: 220px;
  }
}

@media only screen and (max-width: 420px){
  .logo {
    font-size: 87px;
    width: 310px;
    height: 190px;
  }
  .subheading {
    font-size: 17px;
    width: 250px;
  }
  .gradientbox {
    height: 200px;
    width: 320px;
  }
  .about {
    padding: 10px;
  }
}

@media only screen and (max-width: 336px){
  .logo {
    font-size: 80px;
    width: 300px;
    height: 180px;
  }
  .subheading {
    font-size: 17px;
    width: 250px;
  }
  .gradientbox {
    height: 190px;
    width: 310px;
  }
  .about {
    padding: 10px;
  }
}

@media only screen and (max-width: 316px){
  .logo {
    font-size: 75px;
    width: 300px;
    height: 180px;
  }
  .subheading {
    font-size: 15px;
    width: 250px;
  }
  .gradientbox {
    background: transparent;
  }
}
